*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f9f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color: #111;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #222;
  border-radius: 15px;
  
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 1px solid #dadada;
}