body{
  height: 100%;
  width: 100%;
}

.box{
  height: 400px;
  width: 400px;
  background-color:rgb(156 163 175);
}

.page1{
  height: 100vh;
  width: 100vw;
  background-color: #111;
}

.page1{
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

.page1{
  height: 100vh;
  width: 100vw;
  background-color: #333;
}