*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 1px solid #ccc;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p{
  margin: 20px 0;
  color: #ccc;
}
h1{
  color: #fff;
}

.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d1dfe2;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}